{% if linklists.gift-wrapping.links.size > 0 and linklists.gift-wrapping.links.first.type == 'product_link' %}

<div
  id="is-a-gift-{{ item.object.id }}"
  style="clear: left; margin: 30px 0"
  class="clearfix rte"
>
    {% for item in linklists.gift-wrapping.links %}
      {% assign variant = item.object %}
     <p class="shd-checkbox-custom">
      <input type="hidden" name="attributes[gift-wrapping]" data-variantId="{{ variant.variants.first.id }}" value="" />
      <input id="gift-wrapping-{{ variant.variants.first.id }}" type="checkbox" name="attributes[gift-wrapping]" data-variantId="{{ variant.variants.first.id }}" value="yes" {% for item in cart.items %}{% if item.id == variant.variants.first.id %} checked="checked"{% endif %}{% endfor %} style="float: none" />
     
      <label for="gift-wrapping" style="display:inline; padding-left: 5px; float: none;">
        <span class="shd-uppercase shd-font-semibold">{{ item.title }} - {{ item.object.price | money }}</span>
        <span class="shd-block shd-mt-8">{{ item.object.description }}</span>
      </label>
    </p>
    {% endfor %}
  </div>

      {% assign id_1 = linklists.gift-wrapping.links.first.object.variants.first.id %} 
     {% assign id_2 = linklists.gift-wrapping.links.last.object.variants.first.id %} 

{% assign gift_wraps_in_cart = 0 %}
{% for item in cart.items %}
   {% if item.id == id_1 or item.id == id_2 %}
    {% assign gift_wraps_in_cart = gift_wraps_in_cart| plus: item.quantity %}
  {% endif %}
{% endfor %}

<style>
  #updates_{{ id }} { display: none; }
</style>

<script>

var variantList = [],
    giftObj = {};

{% for item in linklists.gift-wrapping.links %}
    variantList.push({{item.object.id}});
{% endfor %}

Shopify.Cart = Shopify.Cart || {};

Shopify.Cart.GiftWrap = {};

Shopify.Cart.GiftWrap.set = function(obj) {

    var headers = new Headers({ 'Content-Type': 'application/json' });
      var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: obj })
    };
   fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });

}

Shopify.Cart.GiftWrap.remove = function() {

    var headers = new Headers({ 'Content-Type': 'application/json' });
      var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: '' })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
}



// When the gift-wrapping checkbox is checked or unchecked.
 
    document.addEventListener("DOMContentLoaded", function(){
      const items = document.querySelectorAll('[name="attributes[gift-wrapping]"]')
      items.forEach(item => {(
            item.addEventListener("change", function() {
            var selectedItem = item.getAttribute("data-variantId");
            item.checked ?  giftObj[selectedItem] = 1 : giftObj[selectedItem] = 0
            console.log(giftObj)
            Shopify.Cart.GiftWrap.set(giftObj); 
          })
      )})

});

</script>

{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
  You attempted to add a gift-wrapping script to your shopping cart, but it won't work because you don't have
  a link list with handle <code>gift-wrapping</code> which, in turn, contains a link
  to your gift-wrapping product. Please review the steps outlined
  <a href="http://docs.shopify.com/manual/configuration/store-customization/page-specific/cart-page/add-a-gift-wrap-option">here</a>.
</p>

{% endif %}